@{
    ViewBag.Title = "Home Page";
}


<link href="@Url.Content("~/Content/TextType.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/TextFill.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TextShade.css")" rel="stylesheet" type="text/css" />




<body style="background-color: #0f1011; ">



    <!-- layer1 start-->
    <section>
        <table width="100%" border="0" style="background-color: #0f1011; ">
            <tr>
                <td>
                    <table width="95%" border="0" align="center" cellpadding="25px" style="background-color: #0f1011; ">
                        <tr>
                            <td>
                                <!-- <h1><font style="color: #6e6e6e; " face="Times New Roman" size="8">IDEA-X</font></h1>-->
                                <h2 data-loading-text="IDEA-X" id="title-shade">IDEA-X</h2>
                                <pre style="background-color: #0f1011; border-color: #0f1011; "><font style="color:#4b4b4b; margin-left:-10px;" face="Times New Roman" size="6">A Community For Ideas.</font></pre>

                                <p style="color: #808080; font-family: 'Times New Roman'; font-size: 17px; font-weight: lighter; text-align: justify;">
                                    Idea-X is a social media
                                    catered towards engineers mainly.
                                    Through this platform engineers from different
                                    background and departments can share their ideas,
                                    connect and communicate with other engineers and
                                    grow their knowledge further in this field. So, let's
                                    start a new journey with<span style="color: #0cd7d1; font-size: 20px"><b><i> Idea-X</i></b></span>.
                                </p>

                                <!--<hr />-->
                            </td>

                            <td width="200">
                                <img src=@Url.Content("~/image/home/home-background.SVG")
                                     height="550px"
                                     width="550px"
                                     style="padding-top: 70px; margin-left:80px" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </section>
    <!-- layer1 end-->

    <hr>

    <!-- layer2 start-->
    <section>
        <table width="100%" style="background-color: #0f1011; ">
            <tr>
                <td>
                    <!--<br><br><br>-->
                    <table width="85%" border="0" align="center" cellpadding="25px" style="background-color: #0f1011; ">
                        <tr align="center">
                            <td colspan="3">
                                <font size="6" face='Noto Serif Display' , serif style="color:#696868"><b> Quality Services</b> </font> <br>
                                <hr align="center" width="60%" color="#6CB3BB">
                           
                            </td>
                        </tr>
                        <tr align="center">
                            <td></td>
                            <td style="padding-left:3%">
                        
                                <div class="wrapper">
                                    <div class="static-txt">Have Ideas?  </div>
                                    <ul class="dynamic-txts">
                                        <li><span>Dream It.</span></li>
                                        <li><span>Build It.</span></li>
                                        <li><span>Share It.</span></li>
                                    </ul>
                                </div>
                                <br />
                            </td>
                        </tr>

                        <tr align="center">
                            <td width="33%" style="padding-left:20px; padding-right:20px; ">
                                <div style="border-radius: 15px; border: 1px solid white; padding: 20px;">
                                    <img src=@Url.Content("~/image/home/chat.SVG") width="60%"> <br><br>
                                    <font size="5" color="#6CB3BB"><b> Chat App </b></font> <br><br>
                                    <font size="3" face="Bell MT" style="color: #4b4b4b; text-align: justify;"><b> Communication – The human connection is the key to personal and career success.<br /><span style="color: #0cd7d1;"><b> IDEA-X </b></span> is encourage you to develop your communication.</b></font>
                                </div> </td>
                            <td width="33%" style="padding-left:20px; padding-right:20px; ">
                                <div style="border-radius: 15px; border: 1px solid white; padding: 20px; ">
                                    <img src=@Url.Content("~/image/home/post.SVG") width="65%"> <br><br><br>
                                    <font size="5" color="#6CB3BB"><b>Post & Share Ideas </b></font> <br><br><br>
                                    <font size="3" face="Bell MT" style="color: #4b4b4b; text-align: justify;"><b> Sharing is Caring. <br /> <span style="color: #0cd7d1;"><b> IDEA-X </b></span>encourage you to share your knowledge with others. </b></font>
                                </div> </td>
                            <td width="33%" style="padding-left:20px; padding-right:20px; ">
                                <div style="border-radius: 15px; border: 1px solid white; padding: 20px; ">
                                    <img src=@Url.Content("~/image/home/security.SVG") width="82%"> <br><br>
                                    <font size="5" color="#6CB3BB"><b> Ensure Security </b></font> <br><br>
                                    <font size="3" face="Bell MT" style="color: #4b4b4b; text-align: justify;"><b> Your security, Our priority. <br><span style="color: #0cd7d1;"><b> IDEA-X </b></span> ensure the highest security for you.</br> </font>
                                </div> </td>

                        </tr>
                    </table>
                    <br><br><br><br>
                </td>
            </tr>
            <table>
    </section>

    <!-- layer2 end-->

</body>