.user_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 900px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

    .user_table thead tr {
        background-color: #009879;
        color: aliceblue;
        text-align: center;
        font-weight: bold;
    }

    .user_table th,
    .user_table td {
        padding: 15px 15px;
        text-align: center;
    }

.user_table tbody tr{
    border-bottom: 1px solid #ffffff;
}

    .user_table tbody tr:nth-of-type(even) {
        background-color: #454545;
    }

.user_table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}