
.btn-1 {
    height: 70px;
    width: 250px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #ebf5fc;
    font-size: 25px;
    color: #6a9bd8;
    cursor: pointer;
    margin: 0 30px;
    box-shadow: -6px -6px 10px rgba(255,255,255,0.8), 6px 6px 10px rgba(0,0,0,0.2);
}

    .btn-1.click-1 {
        font-size: 24px;
        box-shadow: inset -4px -4px 8px rgba(255,255,255,0.5), inset 8px 8px 16px rgba(0,0,0,0.1);
    }

.btn-2 {
   height: 70px;
    width: 250px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #ebf5fc;
    font-size: 25px;
    color: #6a9bd8;
    cursor: pointer;
    margin: 0 30px;
    font-size: 24px;
    box-shadow: inset -4px -4px 8px rgba(255,255,255,0.5), inset 8px 8px 16px rgba(0,0,0,0.1);
}

    .btn-2.click-2 {
        font-size: 25px;
        box-shadow: -6px -6px 10px rgba(255,255,255,0.8), 6px 6px 10px rgba(0,0,0,0.2);
    }
