.post-up-btn {
    z-index: 999;
    position: fixed;
    background-color: #76b8ac;
    top: 20%;
    left: 50%;
    width: 150px;
    height: 50px;
    transform: translate(-50%,-50%);
    display: none;
    border-radius: 50px;
    box-shadow: 0.5px 1px 10px #000000;
}
